In [8]:
import pandas as pd

In [34]:
diabetes = pd.read_csv('/home/sujit25/Workspace/ML_Courses/Learning_Tensorflow/Tensorflow_bootcamp/Data/pima-indians-diabetes.csv'
                      )

diabetes.head()

,number_preganent,glucose_conc,blood_pressure,skin_thickness,insulin,bmi,diabetes_pedigree,age,class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [32]:
diabetes.columns

Index(['number_preganent', 'glucose_conc', 'blood_pressure', 'skin_thickness',
       'insulin', 'bmi', 'diabetes_pedigree', 'age', 'class'],
      dtype='object')

In [33]:
columns_to_normalize = ['number_preganent', 'glucose_conc', 'blood_pressure', 'skin_thickness',
       'insulin', 'bmi', 'diabetes_pedigree']

In [35]:
# for normalizing columns - perform ( x- mean(x)/ stddev(x))
diabetes[columns_to_normalize] = diabetes[columns_to_normalize].apply(lambda x: (x - x.mean()/x.std()))
diabetes.head()

,number_preganent,glucose_conc,blood_pressure,skin_thickness,insulin,bmi,diabetes_pedigree,age,class
0,4.858892,144.21881,68.429729,33.712627,-0.692439,29.542171,-0.797194,50,1
1,-0.141108,81.21881,62.429729,27.712627,-0.692439,22.542171,-1.073194,31,0
2,6.858892,179.21881,60.429729,-1.287373,-0.692439,19.242171,-0.752194,32,1
3,-0.141108,85.21881,62.429729,21.712627,93.307561,24.042171,-1.257194,21,0
4,-1.141108,133.21881,36.429729,33.712627,167.307561,39.042171,0.863806,33,1